.header{
    height: 60px;
    display:flex;
    align-items: center;
    background-color: #1a2157;
    position: sticky;
    top: 25px;
    z-index: 100;
}

.header_logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 5px;
}

.header_search{
    display: flex;
    flex: 1;
    align-items: center;
    border-radius: 24px;
}

.header_searchinput{
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;

}

.header_searchicon{
    color: white;
    padding: 5px;
    height: 22px !important;
    background-color: #6abbcf;

}

.header_optionlineone{
    font-size: 10px;
}

.header_optionlinetwo{
    font-size: 13px;
    font-weight: 600;
}

.header_optionbasket{
    display: flex;
    align-items: center;
    color: white;
}

.header_nav{
    display: flex;
    justify-content: space-evenly;
}

.header_basketcount{
    margin: 0 10px;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin:0 10px; 
    color: white;
}