.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin: 5px;
    padding: 15px; 
    width:20%;
    max-height: auto;
    min-width: 100px;  
    background-color: white;
    z-index: 1;
}

.product img{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    padding: 0 auto;

}

.product button{
    background-color: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734;
    
}

.product_info{
    width: 100%;
    height: 100%;
}