.subtotal{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 60px;
    padding: 20px;
    margin: 20px auto;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 3px;
    text-align: center;
}

.subtotal_button{
    background:  #1a2157;
    border-radius: 2px;
    width: 50%;
    height: 30px;
    border: 1px solid #6abbcf;
    color: white;
    margin: 0 auto;

}